.small-text {
    font-size: 14px; /* Adjust the font size as needed */
  }
  .with-top-margin {
    margin-top: 10px; /* Adjust the margin-top value as needed */
  }


  #login-box,
  #register-box {
    width: 600px; /* Set the width to 400 pixels */
  }

  body {
    font-family: 'Arial', sans-serif; /* Specify the desired font family */
  }